kind: Pod
spec:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: network
            operator: In
            values:
            - 10gb
  restartPolicy: Never
  containers:
  - image: ulissigroup/kubeflow:predictions
    imagePullPolicy: Always
    args: [dask-worker, --nthreads, '1',--nprocs,'1', --no-dashboard, --memory-limit,'18 GiB',--death-timeout, '600']
    name: dask
    env: 
    - name: OMP_NUM_THREADS
      value: 1
    - name: MP_API_KEY
      value: "iHay4qJxqBUVpmbX20XJ43gQfXI77JhF"
    - name: PYTHONPATH
      value: "/home/jovyan/ocp:/home/jovyan/catlas"
    - name: NVIDIA_VISIBLE_DEVICES
      value: "none"
    - name: MALLOC_TRIM_THRESHOLD_
      value: 0
    resources:
      limits:
        cpu: "4"
        memory: 21G
      requests:
        cpu: "4"
        memory: 21G
    volumeMounts:
    - mountPath: /home/jovyan/ocp
      name: workspace-inference
      subPath: ocp
    - mountPath: /home/jovyan/catlas
      name: workspace-inference
      subPath: catlas
    - mountPath: /home/jovyan/shared-scratch
      name: shared-scratch
    - mountPath: /home/jovyan/dask-worker-space
      name: shared-scratch
      subPath: catlas/dask-worker-space
  volumes:
  - name: shared-scratch
    persistentVolumeClaim:
      claimName: shared-scratch
  - name: workspace-inference
    persistentVolumeClaim:
      claimName: workspace-inference
